<template>
<div class="card">
	<div class="card-header">¿En qué estas pensando?</div>

	<div class="card-body">
		<form action="#" v-on:submit.prevent="newThought()">
			<div class="form-group">
				<label for="thought">Estoy pensando en:</label>
				<input type="text" name="thought" class="form-control"
					v-model="description">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">
					Enviar pensamiento
				</button>
			</div>
		</form>
	</div>
</div>	
</template>

<script>
	export default {
		data() {
			return {
				description: ''
			}
		},
		mounted() {
			console.log('Component mounted.')
		},
		methods: {
			newThought() {
				const params = {
					description: this.description
				};

				this.description = '';

				axios.post('/thoughts', params).then((response) => {
					const thought = response.data;
					this.$emit('new', thought);
				});
			}
		}
	}
</script>
