<template>
	<div class="row justify-content-center">
		<div class="col-md-8">
			<form-component @new="addThought"></form-component>

			<thought-component 
				v-for="(thought, index) in thoughts" 
				:key="thought.id"
				:thought="thought"
				@delete="deleteThought(index)"
				@update="updateThought(index, ...arguments)">
			</thought-component>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				thoughts: [],
				timer: ''
			}
		},
		created() {
			this.timer = this.listenForChanges();
		},
		beforeDestroy() {
			clearInterval(this.timer)
		},
		mounted() {
			this.getData();
		},
		methods: {
			addThought(thought) {
				this.thoughts.push(thought);
			},
			deleteThought(index) {
				this.thoughts.splice(index, 1);
			},
			updateThought(index, thought) {
				this.thoughts[index] = thought;
			},
			listenForChanges() {
				setInterval(function(){
					this.getData();
				}.bind(this), 60000);
			},
			getData(){
				axios.get('/thoughts').then((response) => {
					console.log(response.data);
					this.thoughts = response.data;
				});
			}
		}
	}
</script>
